<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servletPackage.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servletPackage.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>servletPackage.dashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>servletPackage.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>folderServlet</servlet-name>
        <servlet-class>servletPackage.folderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createFolderServlet</servlet-name>
        <servlet-class>servletPackage.createFolderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>servletPackage.uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFolderServlet</servlet-name>
        <servlet-class>servletPackage.uploadFolderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>servletPackage.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renameServlet</servlet-name>
        <servlet-class>servletPackage.renameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailServlet</servlet-name>
        <servlet-class>servletPackage.emailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPasswordServlet</servlet-name>
        <servlet-class>servletPackage.forgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>servletPackage.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>servletPackage.fileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMetadataServlet</servlet-name>
        <servlet-class>servletPackage.getMetadataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>servletPackage.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPreviewServlet</servlet-name>
        <servlet-class>servletPackage.searchPreviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>servletPackage.downloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shareServlet</servlet-name>
        <servlet-class>servletPackage.shareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shareLinkServlet</servlet-name>
        <servlet-class>servletPackage.shareLinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shareFilesServlet</servlet-name>
        <servlet-class>servletPackage.shareFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shareAction</servlet-name>
        <servlet-class>servletPackage.shareAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>servletPackage.changePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>folderServlet</servlet-name>
        <url-pattern>/folderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createFolderServlet</servlet-name>
        <url-pattern>/createFolderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFolderServlet</servlet-name>
        <url-pattern>/uploadFolderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renameServlet</servlet-name>
        <url-pattern>/renameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailServlet</servlet-name>
        <url-pattern>/emailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPasswordServlet</servlet-name>
        <url-pattern>/forgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/fileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMetadataServlet</servlet-name>
        <url-pattern>/getMetadataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPreviewServlet</servlet-name>
        <url-pattern>/searchPreviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shareServlet</servlet-name>
        <url-pattern>/shareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shareLinkServlet</servlet-name>
        <url-pattern>/shareLinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shareFilesServlet</servlet-name>
        <url-pattern>/shareFilesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shareAction</servlet-name>
        <url-pattern>/shareAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
